{% extends "Principal/base.html" %} {% block content %}
<div
  class="bg-white p-5 rounded shadow-lg"
  style="max-width: 500px; margin: 40px auto"
>
  <h2 class="fw-bold text-dark mb-4 text-center">Eliminar sucursal</h2>
  <p class="text-center fs-5 mb-4">
    ¿Estás seguro de que deseas eliminar la sucursal
    <strong>{{ sucursal.nombre_sucursal }}</strong>?
  </p>
  <form method="post" class="text-center">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger px-5 py-2 fs-5">
      Sí, eliminar
    </button>
    <a
      href="{% url 'lista_sucursales' %}"
      class="btn btn-secondary ms-2 px-5 py-2 fs-5"
      >Cancelar</a
    >
  </form>
</div>
{% endblock %}
