{% extends "Principal/base.html" %} {% block content %}
<div
  class="d-flex justify-content-center align-items-center min-vh-100 bg-light"
  style="padding: 40px 0"
>
  <div class="w-100" style="max-width: 500px">
    <div
      class="p-5 bg-white rounded shadow-lg"
      style="box-shadow: 0 0 24px rgba(0, 0, 0, 0.08)"
    >
      <h2
        class="text-center fw-semibold text-dark mb-5"
        style="letter-spacing: 1px"
      >
        Cambiar contraseña
      </h2>

      <form method="POST">
        {% csrf_token %} {{ form.as_p }}

        <button type="submit" class="btn btn-primary w-100 py-3 fs-5 mt-3">
          Guardar nueva contraseña
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
