{% extends "Principal/base.html" %} {% block content %}
<div
  class="d-flex justify-content-center align-items-center min-vh-100 bg-light"
  style="padding: 40px 0"
>
  <div class="w-100" style="max-width: 500px">
    <div
      class="p-5 bg-white rounded shadow-lg"
      style="box-shadow: 0 0 24px rgba(0, 0, 0, 0.08)"
    >
      <h2
        class="text-center fw-semibold text-dark mb-5"
        style="letter-spacing: 1px"
      >
        Recuperar contraseña
      </h2>
      <p class="mb-4 text-center">
        Ingresa tu correo electrónico y te enviaremos un enlace para cambiar tu
        contraseña.
      </p>

      <form method="POST">
        {% csrf_token %}
        <div class="mb-4">
          {{ form.email.label_tag }} {{ form.email }} {% if form.email.errors %}
          <div class="text-danger small mt-2">
            {% for error in form.email.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <button type="submit" class="btn btn-primary w-100 py-3 fs-5">
          Enviar enlace
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
