{% extends "Principal/base.html" %} {% block content %}
<div
  class="d-flex justify-content-center align-items-center min-vh-100 bg-light"
  style="padding: 40px 0"
>
  <div class="w-100" style="max-width: 500px">
    <div
      class="p-5 bg-white rounded shadow-lg text-center"
      style="box-shadow: 0 0 24px rgba(0, 0, 0, 0.08)"
    >
      <h2 class="fw-semibold text-dark mb-4">Contraseña cambiada</h2>
      <p>Tu contraseña ha sido actualizada exitosamente.</p>
      <a href="{% url 'signin' %}" class="btn btn-primary mt-4"
        >Iniciar sesión</a
      >
    </div>
  </div>
</div>
{% endblock %}
