{% extends "Principal/base.html" %} {% load static %} {% block content %}
<div class="bg-white p-4 rounded shadow-lg text-center">
  <h1 class="display-4 fw-bold text-dark">
    Hola, bienvenido {{ user.username }}!
  </h1>
  <p class="lead text-secondary">
    Este es tu perfil. Aquí puedes ver tus datos.
  </p>

  <hr />

  <!-- INFO DEL USUARIO -->
  <div class="mt-4 text-start">
    <h4 class="text-dark">Información de tu perfil</h4>
    <p class="text-muted">
      <strong>Nombre de usuario: </strong> {{ user.username }}
    </p>
    <p class="text-muted">
      <strong>Correo electrónico: </strong> {{ user.email }}
    </p>
    <p class="text-muted">
      <strong>Nombre completo: </strong>{{ perfil.nombre_usuario }}
      {{perfil.apellido_pat_usuario }} {{perfil.apellido_mat_usuario }}
    </p>
    <p class="text-muted"><strong>Teléfono:</strong> {{ perfil.telefono }}</p>
    <p class="text-muted">
      <strong>Fecha de nacimiento: </strong>
      {{ perfil.fecha_nacimiento|date:"d/m/Y" }}
    </p>
  </div>

  <!-- BOTÓN PARA EDITAR PERFIL -->
  <div class="mt-4 text-start">
    <a href="{% url 'editar_perfil' %}" class="btn btn-primary">
      Editar perfil
    </a>
  </div>

  <hr />

  <!-- LISTA DE DIRECCIONES -->
  <div class="mt-4 text-start">
    <h4 class="text-dark">Direcciones de facturación</h4>
    <ul class="list-group">
      {% for direccion in direcciones %}
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        {{ direccion }}
        <span>
          <a
            href="{% url 'editar_direccion' direccion.id %}"
            class="btn btn-sm btn-warning"
            >Editar</a
          >
          <a
            href="{% url 'eliminar_direccion' direccion.id %}"
            class="btn btn-sm btn-danger"
            >Eliminar</a
          >
        </span>
      </li>
      {% empty %}
      <li class="list-group-item text-muted">
        No tienes direcciones agregadas.
      </li>
      {% endfor %}
    </ul>
  </div>

  <hr />

  <!-- CERRAR SESIÓN -->
  <form action="/logout/" method="POST" class="text-center mt-5">
    {% csrf_token %}
    <button
      type="submit"
      class="btn btn-danger"
      style="padding: 10px 20px; font-size: 1.1rem"
    >
      Cerrar sesión
    </button>
  </form>
</div>
{% endblock content %}
